.logo{
    width:40px;
}
.header{
    padding:15px 200px;
    display:flex;
    cursor: pointer;
    position: sticky;
    z-index: 100;
    background:white;
}

.header__left > img {
    height:40px;
}

.header__info{
    display:flex;
    align-items: center;
}